@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AT Doctor</h1>
    <p class="lead">Look in our calendar. Find a doctor and book your appointment in a few seconds!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Patients</h2>
        <p>
            Have you chosen our services, paying irrelevant amounts of money every year for illnesses that will never occur and for treatments
            that you will never receive? Sign in and use our new and cutting-edge technologies.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Doctors</h2>
        <p>Tired of laundering every day all these paychecks that you never got the chance of receipting? Come to us and 
        finally get the feeling of being a legal and lawful worker of your country!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Appointments</h2>
        <p>Covid-19 moved your liver surgery to 30th February 2025? Book your appointment now and get to live and play with your grandchildren!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>